<div class="row">
  <div class="offset-10 col-md-2">
    <a href="#">Create company</a>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Company name</th>
          <th>Company address</th>
          <th>Details</th>
          <th>Update</th>
          <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let company of companies">
          <td>{{company.name}}</td>
          <td>{{company.fullAddress}}</td>
          <td>
            <button class="btn btn-light" id="details" type="button">Details</button>
          </td>
          <td>
            <button class="btn btn-success" id="update" type="button">Update</button>
          </td>
          <td>
            <button class="btn btn-danger" id="delete" type="button">Delete</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
