<div class="card">
  <div class="card-body">
    <h1 class="card-title">Login</h1>
    <div *ngIf="showError" class="alert alert-danger" role="alert">
      {{errorMessage}}
    </div>
    <form (ngSubmit)="loginUser(loginForm.value)" [formGroup]="loginForm" autocomplete="off" novalidate>
      <div class="row mb-3">
        <label class="col-form-label col-sm-2" for="username">Username:</label>
        <div class="col-md-5">
          <input class="form-control" formControlName="username" id="username" type="text"/>
        </div>
        <div class="col-md-5">
          <em *ngIf="validateControl('username') && hasError('username', 'required')">Username is required</em>
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-form-label col-sm-2" for="password">Password:</label>
        <div class="col-md-5">
          <input class="form-control" formControlName="password" id="password" type="password"/>
        </div>
        <div class="col-md-5">
          <em *ngIf="validateControl('password') && hasError('password', 'required')">Password is required</em>
        </div>
      </div>
      <br>
      <div>
        <a [routerLink]="['/authentication/forgotpassword']"> Forgot Password </a>
      </div>
      <br>
      <div class="row mb-3">
        <div class="col-md-1">
          <button [disabled]="!loginForm.valid" class="btn btn-info" type="submit">Login</button>
        </div>
      </div>
    </form>
    <hr>
    <div>
      <h2>External Providers</h2>
      <div style="padding: 20px;">
        <button (click)="externalLogin()" class="btn btn-info" type="button">Google</button>
      </div>
    </div>
  </div>
</div>
