<div class="card">
  <div class="card-body">
    <h1 class="card-title">Reset Password</h1>
    <div *ngIf="showError" class="alert alert-danger" role="alert">
      <span [innerHTML]="errorMessage"></span>
    </div>
    <div *ngIf="showSuccess" class="alert alert-success" role="alert">
      Your password has been reset. Please <a [routerLink]="['/authentication/login']"> click here to log in. </a>
    </div>
    <form (ngSubmit)="resetPassword(resetPasswordForm.value)" [formGroup]="resetPasswordForm" autocomplete="off"
          novalidate>
      <div class="row mb-3">
        <label class="col-form-label col-sm-2" for="password">Password:</label>
        <div class="col-md-5">
          <input class="form-control" formControlName="password" id="password" type="password"/>
        </div>
        <div class="col-md-5">
          <em *ngIf="validateControl('password') && hasError('password', 'required')">Password is required</em>
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-form-label col-sm-2" for="confirm">Confirm Password:</label>
        <div class="col-md-5">
          <input class="form-control" formControlName="confirm" id="confirm" type="password"/>
        </div>
        <div class="col-md-5">
          <em *ngIf="validateControl('confirm') && hasError('confirm', 'required')">Confirmation is required</em>
          <em *ngIf="hasError('confirm', 'mustMatch')">Passwords must match</em>
        </div>
      </div>
      <br>
      <div class="row mb-3">
        <div class="col-md-1">
          <button [disabled]="!resetPasswordForm.valid" class="btn btn-info" type="submit">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
