<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/home']" class="navbar-brand"
       routerLinkActive="active">Account-Owner Home</a>
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
            data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/company/companies']" class="nav-link"
             routerLinkActive="active"> Companies </a>
        </li>
        <li class="nav-item">
          <a [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/privacy']" class="nav-link"
             routerLinkActive="active"> Privacy </a>
        </li>
        <li *ngIf="!isUserAuthenticated" class="nav-item register">
          <a [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/authentication/login']" class="nav-link"
             routerLinkActive="active">Login</a>
        </li>
        <li *ngIf="!isUserAuthenticated" class="nav-item">
          <a [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/authentication/register']" class="nav-link"
             routerLinkActive="active">Register</a>
        </li>
        <li *ngIf="isUserAuthenticated" class="nav-item register">
          <button (click)="logout()" class="btn btn-link" style="color: #ffffff80;">Logout</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
